@import "../node_modules/styleguide/modern-webpack";

.pm-row {
  @include row();
  @include grid__container;
}

.action-area-container {
  &.pm {
    @extend %action-area-container;
    @include grid__container;
  }
}

.pm-main-content {
  @include grid__container;
}

.pm-action-area {
  @extend %action-area;
}

.pm-step-indicator-column {
  @include media($desktop) {
    @include span-columns(3);
  }
  @include media($device) {
    @include span-columns(12);
  }
}

.pm-payment-method-column {
  @include media($desktop) {
    @include span-columns(9);
  }
  @include media($device) {
    @include span-columns(12);
  }
}


.pm-payment-method-first-name-column {

  @include media($device) {
    width: 69%;
    display:inline-block;
    margin-right: $extra-tiny-spacing;
    .pm-form-input {
      width: 100%;
    }
  }

  @include media($desktop) {
    width: 28%;
    display:inline-block;
    margin-right: $extra-tiny-spacing;
    .pm-form-input {
      width: 100%;
    }
  }
}

.pm-payment-method-middle-initial-column {

  @include media($device) {
    width: 17%;
    display:inline-block;
    .pm-form-input {
      width: 100%;
    }
  }

  @include media($desktop) {
    width: 7%;
    min-width: 70px;
    display:inline-block;
    margin-right: $extra-tiny-spacing;
    .pm-form-input {
      width: 100%;
    }
  }
}

.pm-payment-method-last-name-column {
  
  @include media($device) {
    width: 90%;
    .pm-form-input {
      width: 100%;
    }
  }

  @include media($desktop) {
    width: 28%;
    display:inline-block;
    .pm-form-input {
      width: 100%;
    }
  }
}

.pm-payment-method-credit-card-first-column {
  @include span-columns(12);
  @include media($desktop) {
    width: 30%;
    min-width: 178px;
    display:inline-block;
    margin-right: $tiny-spacing;
    .pm-form-input {
      width: 100%;
    }
  }
}

.pm-payment-method-credit-card-second-column {
  @include media($device) {
    width: 49%;
    display: inline-block;
    margin-right: $extra-tiny-spacing;
    .pm-form-input {
      width: 100%;
    }
  }
  @include media($desktop) {
    width: 20%;
    min-width: 124px;
    display:inline-block;
    margin-right: $extra-tiny-spacing;
    .pm-form-input {
      width: 100%;
    }
  }
}

.pm-payment-method-credit-card-third-column {
  @include media($device) {
    width: 39%;
    display: inline-block;
    .pm-form-input {
      width: 100%;
    }
  }
  @include media($desktop) {
    width: 14%;
    display:inline-block;
    .pm-form-input {
      width: 100%;
    }
  }
}

.pm-payment-method-credit-cardtype-text {
  @include span-columns(12);
  @include media($desktop) {
    width: 74%;
    min-width: 547px;
    display:block;
  }
}

.pm-payment-method-routing-number-column {
  @include media($device) {
    width: 90%;
    .pm-form-input {
      width: 100%;
    }
  }
  @include media($desktop) {
    width: 34%;
    .pm-form-input {
      width: 100%;
    }
  }
}

.pm-payment-method-account-number-column {
  @include media($device) {
    width: 90%;
    .pm-form-input {
      width: 100%;
    }
  }
  @include media($desktop) {
    width: 34%;
    display:inline-block;
    margin-right: $extra-tiny-spacing;
    .pm-form-input {
      width: 100%;
    }
  }
}

.pm-payment-method-confirm-account-number-column {
  @include media($device) {
    width: 90%;
    .pm-form-input {
      width: 100%;
    }
  }
  @include media($desktop) {
    width: 34%;
    min-width: 218px;
    display:inline-block;
    margin-right: $extra-tiny-spacing;
    .pm-form-input {
      width: 100%;
    }
  }
}

.pm-payment-method-save-method-column {
  @include span-columns(12);
  @include media($desktop) {
   width: 28%;
   min-width: 164px;
   display: inline-block;
   margin-right: $extra-tiny-spacing;
   .pm-form-input {
    width: 100%;
    }
  }
}

.pm-payment-method-default-payment-checkbox-column {
  @include span-columns(12);
  @include media($desktop) {
   width: 48%;
   min-width: 427px;
   display: inline-block;
   .pm-form-input {
    width: 100%;
    }
  }
}

.pm-payment-method-account-nickname-column {
  @include media($device) {
    width: 90%;
    .pm-form-input {
      width: 100%;
    }
  }
  @include media($desktop) {
   width: 74%;
   margin-top: $extra-tiny-spacing;
   display: inline-block;
   .pm-form-input {
    width: 100%;
    }
  }
}

.pm-payment-method-buttons-column {
  @include span-columns(12);
  @include media($desktop) {
  padding-left: $large-spacing * 4;
  padding-top: $medium-spacing;
  }
}

.pm-payment-method-buttons-alignment {
  @include media($desktop) {
    @include span-columns(9);
  }
}

.pm-name-column-container {
  margin-top: $extra-tiny-spacing;
}